<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
	<header>
		<nav class="navegacion">
			<ul class="menu">
        <li><a href="Document.getElementsByClassName()">Inicio</a></li>
				<li><a routerLink="/autor/all">Autores</a></li>
				<li><a routerLink="/categoria/all">Categorias</a></li>
				<li><a routerLink="/libro/all">Libros</a></li>
			</ul>
		</nav>
	</header>
  <router-outlet></router-outlet>
</body>
</html> 